@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
  :root {
    background-color: #f5f5f5;
    font-family: "Inter", sans-serif;
  }
  body {
    height: 100vh;
  }
}
